/output/
/include/*_config.h
/make/custom.mk
/.settings/
/.externalToolBuilders/
/.project
/.cproject
/.pydevproject

_build/

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144 Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144.xml

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144 Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144.xml
