/output/
/include/*_config.h
/make/custom.mk
/.settings/
/.externalToolBuilders/
/.project
/.cproject
/.pydevproject

_build/

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144 Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/UART/UART_Printf/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144.xml

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144 Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/GPIO/GPIO_EXTI/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144.xml

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_LL/SPI/SPI_TwoBoards_FullDuplex_IT/SW4STM32/NUCLEO-F207ZG/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_LL/SPI/SPI_TwoBoards_FullDuplex_IT/SW4STM32/NUCLEO-F207ZG/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_LL/SPI/SPI_TwoBoards_FullDuplex_IT/SW4STM32/NUCLEO-F207ZG/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_LL/SPI/SPI_TwoBoards_FullDuplex_IT/SW4STM32/NUCLEO-F207ZG/NUCLEO-F207ZG Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_LL/SPI/SPI_TwoBoards_FullDuplex_IT/SW4STM32/NUCLEO-F207ZG/NUCLEO-F207ZG.xml

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_HalfDuplex_ComPollingIT/SW4STM32/STM32F207ZG-Nucleo/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_HalfDuplex_ComPollingIT/SW4STM32/STM32F207ZG-Nucleo/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_HalfDuplex_ComPollingIT/SW4STM32/STM32F207ZG-Nucleo/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_HalfDuplex_ComPollingIT/SW4STM32/STM32F207ZG-Nucleo/STM32F207ZG-Nucleo Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_HalfDuplex_ComPollingIT/SW4STM32/STM32F207ZG-Nucleo/STM32F207ZG-Nucleo.xml

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_FullDuplex_ComPolling/SW4STM32/STM32F207ZG-Nucleo/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_FullDuplex_ComPolling/SW4STM32/STM32F207ZG-Nucleo/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_FullDuplex_ComPolling/SW4STM32/STM32F207ZG-Nucleo/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_FullDuplex_ComPolling/SW4STM32/STM32F207ZG-Nucleo/STM32F207ZG-Nucleo Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples_MIX/SPI/SPI_FullDuplex_ComPolling/SW4STM32/STM32F207ZG-Nucleo/STM32F207ZG-Nucleo.xml

/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM32F207ZG_NUCLEO_144/.gitignore
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM32F207ZG_NUCLEO_144/.settings/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM32F207ZG_NUCLEO_144/Debug/
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144 Debug.cfg
/source/STM32Cube_FW_F2/Projects/NUCLEO-F207ZG/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM32F207ZG_NUCLEO_144/STM32F207ZG_NUCLEO_144.xml

/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/UART/UART_Printf/SW4STM32/STM322xG_EVAL/.gitignore
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/UART/UART_Printf/SW4STM32/STM322xG_EVAL/.settings/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/UART/UART_Printf/SW4STM32/STM322xG_EVAL/Debug/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/UART/UART_Printf/SW4STM32/STM322xG_EVAL/STM322xG_EVAL Debug.cfg
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/UART/UART_Printf/SW4STM32/STM322xG_EVAL/STM3220G-EVAL.xml

/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/GPIO/GPIO_EXTI/SW4STM32/STM322xG_EVAL/.gitignore
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/GPIO/GPIO_EXTI/SW4STM32/STM322xG_EVAL/.settings/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/GPIO/GPIO_EXTI/SW4STM32/STM322xG_EVAL/Debug/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/GPIO/GPIO_EXTI/SW4STM32/STM322xG_EVAL/STM322xG_EVAL Debug.cfg
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/GPIO/GPIO_EXTI/SW4STM32/STM322xG_EVAL/STM3220G-EVAL.xml

/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/SPI/SPI_FullDuplex_ComIT/SW4STM32/STM322xG_EVAL/.gitignore
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/SPI/SPI_FullDuplex_ComIT/SW4STM32/STM322xG_EVAL/.settings/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/SPI/SPI_FullDuplex_ComIT/SW4STM32/STM322xG_EVAL/Debug/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/SPI/SPI_FullDuplex_ComIT/SW4STM32/STM322xG_EVAL/STM322xG_EVAL Debug.cfg
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/SPI/SPI_FullDuplex_ComIT/SW4STM32/STM322xG_EVAL/STM3220G-EVAL.xml

/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM322xG_EVAL/.gitignore
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM322xG_EVAL/.settings/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM322xG_EVAL/Debug/
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM322xG_EVAL/STM322xG_EVAL Debug.cfg
/source/STM32Cube_FW_F2/Projects/STM322xG_EVAL/Examples/ADC/ADC_RegularConversion_Interrupt/SW4STM32/STM322xG_EVAL/STM3220G-EVAL.xml

